<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- reply 셋팅 -->
	<context-param>
		<param-name>replyService</param-name>
		<param-value>com.exam.service.reply.ReplyServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>replyDAO</param-name>
		<param-value>com.exam.dao.reply.ReplyDAOImpl</param-value>
	</context-param>

<!-- attach 셋팅 -->
	<context-param>
		<param-name>attachDAO</param-name>
		<param-value>com.exam.dao.attach.AttachDAOImpl</param-value>
	</context-param>

<!-- board 셋팅 -->
	<context-param>
		<param-name>boardService</param-name>
		<param-value>com.exam.service.board.BoardServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>boardDAO</param-name>
		<param-value>com.exam.dao.board.BoardDAOImpl</param-value>
	</context-param>

<!-- Member 셋팅 -->
	<context-param>
		<param-name>memberService</param-name>
		<param-value>com.exam.service.member.MemberServiceImpl</param-value>
	</context-param>
	<context-param>
		<param-name>memberDAO</param-name>
		<param-value>com.exam.dao.member.MemberDAOImpl</param-value>
	</context-param>

<!-- 팩토리 셋팅 -->
	<context-param>
		<param-name>sessionFactory</param-name>
		<param-value>com.exam.mybatis.config.OracleMyBatisSqlSessionFactory</param-value>
	</context-param>
	
<!-- 리스너 적용 -->
	<listener>
		<listener-class>com.exam.util.listener.InitListener</listener-class>
	</listener>
		
<!-- dispatcher 적용  -->
	<servlet>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>com.exam.util.dispatcher.FrontServlet</servlet-class>
		<init-param>
			<param-name>handlerMapper</param-name>
			<param-value>com.exam.util.dispatcher.HandlerMapper</param-value>
		</init-param>
		<init-param>
			<param-name>viewResolver</param-name>
			<param-value>com.exam.util.dispatcher.ViewResolver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

<!-- 인코딩 필터 적용 -->
	<filter>
		<filter-name>setCharacterEncodingFilter</filter-name>
		<filter-class>
			org.apache.catalina.filters.SetCharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	
<!-- 로그인 세션 체크 필터 적용 -->
	<filter>
		<filter-name>loginCheckFilter</filter-name>
		<filter-class>com.exam.util.filter.LoginCheckFilter</filter-class>
		<init-param>
			<param-name>exclude</param-name>
			<param-value>resources,commons,.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>viewResolver</param-name>
			<param-value>com.exam.util.dispatcher.ViewResolver</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</filter>
	<filter-mapping>
		<filter-name>loginCheckFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- site-mesh 적용 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 에러페이지 추가 -->
  <error-page>
    <error-code>500</error-code>
    <location>/error/500_error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404_error.jsp</location>
  </error-page>

</web-app>